{% extends "base.html" %}

{% block content %}

<section class="section container" id="login-section">

    <div class="row">
        <div class="col s12">
            <h1>Login to Your Account</h1>
        </div>
    </div>

    <div class="row">
        {% if form.errors %}
        <div class="col s12">
            <p>Your username and password didn't match. Please try again.</p>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col s12">
            <p><b>Note</b>: usernames are case-sensitive.</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
                <br>
                <button class="btn blue darken-4" type="submit" name="login-submit" id="login-submit-btn" value="login">Login</button>
            </form>
        </div>
        <div class="col s12 m3 offset-l1">
            <br class="hide-on-med-and-up">
            <hr class="hide-on-med-and-up">
            <p>New to Lock & Key? Sign up for an account here!</p>
            <a class="btn blue darken-4 btn" href="{% url 'signup' %}">Sign Up</a>
        </div>
    </div>
</section>
{% endblock %}