header{
    background: url(https://res.cloudinary.com/chris-cherng/image/upload/v1660762656/Escape%20Room/cover_jlxgoh.png);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

@media screen and (max-width: 670px){
    header{
        min-height: 200px;
    };
}

.parallax{
    max-height: 300px; 
}

.input-field input[type=text]:focus + label {
    color: #0d47a1;
  }

.input-field input[type=text]:focus {
    border-bottom: 1px solid #0d47a1;
    box-shadow: 0 1px 0 0 #0d47a1;
}

.input-field .prefix.active {
    color: #0d47a1;
}