/* Heading Styles*/

header{
    background: url(https://res.cloudinary.com/chris-cherng/image/upload/v1660762656/Escape%20Room/cover_jlxgoh.png);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

@media screen and (max-width: 670px){
    header{
        min-height: 200px;
    };
    #logo{
        display: none;
    };
}

/* Image Styles*/

.room-image, #intro-image{
    padding-top: 2em;
}

/* Titles Styles*/

#experiences-title{
    margin-top: 0.5em;
}

/* Attraction Image Styles*/

.attraction-container{
    background-size: cover;
    background-color: #ffe0b2;
}

.attraction{
    font-size: 30px;
}

.attraction-name{
    margin-top: 0;
}

/* Form Styles*/

.input-field input[type]:focus:not([readonly]),
.input-field textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0d47a1;
    box-shadow: 0 1px 0 0 #0d47a1;
}

.input-field input[type]:focus:not([readonly])+label,
.input-field textarea:focus:not([readonly])+label {
    color: #0d47a1;
}

.input-field .prefix.active {
    color: #0d47a1;
}

/* Tab Styles*/

.tabs .tab a {
    color: #0d47a1;
    }

.tabs .tab a:focus.active {
    color: #0d47a1;
    background-color: #e3f2fd;
    }

.tabs .tab a:hover {
    color: #0d47a1;
    }

.tabs .indicator {
    background-color: #0d47a1;
    }