{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Book Your Escape Room Experience!</h1>
</div>

<div class="container">
    <div class="col s12" id="{{ room.slug }}">
        <p>Want to book for one of our escape room? Use the form below to select the day and time you'd like to come!</p>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <div class="row"> 
                    <div class="input-field col s12">
                        <select name="room_selected" id="room_selected">
                            <option value="" disabled selected>Choose your adventure!</option>
                            {% for room in data.rooms %}
                            <option value="{{ room.id }}">{{ room.title }}</option>
                            {% endfor %}
                        </select>
                        <label>Select your room</label>
                    </div>
                    <div class="col s12 l8">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input type="text" id="name" name="name">
                            <label for="name">Name</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <input type="email" id="email" name="email">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">date_range</i>
                            <input type="text" class="datepicker" id="date_selected" name="date_selected" value="{{ form.date_selected.value }}">
                            <label for="date_selected">Date</label>
                        </div>
                        <div class="input-field hide">
                            <input type="text" class="timepicker" id="time_selected" name="time_selected">
                            <label for="time_selected">Time</label>
                        </div>
                        {% for room in data.rooms %}
                        <div class="{{ room.id }} times">
                            <p>Available times for {{ room.title }}:</p>
                            {% for times in room.times %}
                                {% for booking in data.bookings %}
                                <P>{{ booking.date_selected }}</P>
                                    {% if booking.time_selected == times and booking.room_selected == room and booking.date_selected == date_selected %}
                                        <a class="waves-effect waves-light btn-large blue darken-3 time-btn disabled" id="{{times | time:'H:i'}}">{{times | time:'H:i'}}</a>
                                    {% elif booking.room_selected == room %}
                                        <a class="waves-effect waves-light btn-large blue darken-3 time-btn" id="{{times | time:'H:i'}}">{{times | time:'H:i'}}</a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}                           
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Submit
                            <i class="material-icons right">chevron_right</i>
                        </button>
                    </div>
                </div>
                
            </form>
            <p>{{ form.date_selected.value }}</p>
        </div>                
    </div>
</div>


{% endblock content %}