{% extends "base.html" %}

{% block content %}
<!-- Introduction -->
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s12 m7">
            <h1>Lock & Key Escape Rooms</h1>
            <p>An experience like no other! Can you work as a team to discover clues, solve puzzles and most importantly, escape from the room before the time runs out?</p>
        </div>
        <div class="col s12 m4 offset-l1 hide-on-small-only">
            <img class="responsive-img" id="intro-image" src="https://res.cloudinary.com/chris-cherng/image/upload/v1660850670/Escape%20Room/intro_wb7vbh.jpg" alt="">
        </div>
    </div>
</div>

<div class="container">
    <hr>
</div>

<!-- Our Experiences -->
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s12 m4 hide-on-small-only">
            <img class="responsive-img" src="https://res.cloudinary.com/chris-cherng/image/upload/v1661256479/Escape%20Room/victory_ohppuf.png" alt="">
        </div>
        <div class="col s12 m7 offset-l1">
            <h2 id="experiences-title">Our Experiences</h2>
            <p>All of our escape rooms will transport you, with sights, sounds and even smells of the destination.</p>
            <p>This could be a strange old medieval village, a curious railway station, or somewhere beyond your imagination!</p>
            <p>The experiences are suitable for all ages, and you don't need to have done an escape room before - all you need is your curiosity and an enthisiastic team!</p>
        </div>
    </div>
</div>

<!-- Rooms Great For -->
<div class="attraction-container">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Our experiences are great for:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s6 l4 center-align attraction">
                <span class="material-icons">supervisor_account</span>
                <p class="attraction-name">Families</p>
            </div>
            <div class="col s6 l4 center-align attraction">
                <span class="material-icons">people</span>
                <p class="attraction-name">Friend Groups</p>
            </div>
            <div class="col s6 l4 center-align attraction">
                <span class="material-icons">favorite</span>
                <p class="attraction-name">Date Night</p>
            </div>
            <div class="col s6 l4 center-align attraction">
                <span class="material-icons">cake</span>
                <p class="attraction-name">Birthday Parties</p>
            </div>
            <div class="col s6 l4 center-align attraction">
                <span class="material-icons ">lock_open</span>
                <p class="attraction-name">Puzzle Lovers</p>
            </div>
            <div class="col s6 l4 center-align attraction">
                <span class="material-icons">business_center</span>
                <p class="attraction-name">Team Building</p>
            </div>
        </div>
    </div>
</div>

<!-- Room Cards -->
<div class="container" id="our-rooms">
    <div class="row">
        {% for room in room_list %}
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ room.room_image.url }}">
                        <span class="card-title">{{ room.title }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ room.excerpt }}</p>
                    </div>
                    <div class="card-action">
                    <a href="{% url 'room_detail' room.slug %}"><span class="blue-text text-darken-4">MORE INFO FOR {{ room.title }}</span></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}