{% extends "base.html" %}

{% block content %}
<!-- Introduction -->
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s12 m7">
            <h1>Lock & Key Escape Rooms</h1>
            <p>An experience like no other! Can you work as a team to discover clues, solve puzzles and most importantly, escape from the room before the time runs out?</p>
        </div>
        <div class="col s12 m4 offset-l1 hide-on-small-only">
            <img class="responsive-img" src="https://res.cloudinary.com/chris-cherng/image/upload/v1660850670/Escape%20Room/intro_wb7vbh.jpg" alt="">
        </div>
    </div>
</div>

<!-- Parallax Image -->
<div class="parallax-container hide-on-small-only">
    <div class="parallax">
        <img class="responsive-img" src="https://res.cloudinary.com/chris-cherng/image/upload/v1660851058/Escape%20Room/parallax_pmsckt.jpg" alt="">
    </div>
</div>


<!-- Room Cards -->

<div class="container" id="our-rooms">
    <div class="row">
        {% for room in room_list %}
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ room.room_image.url }}">
                        <span class="card-title">{{ room.title }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ room.excerpt }}</p>
                    </div>
                    <div class="card-action">
                    <a href="{% url 'room_detail' room.slug %}"><span class="blue-text text-darken-4">MORE INFO</span></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}