{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 l6">
            <h1>{{ room.title }}</h1>
            {{ room.room_description | safe }}
            {% if user.is_authenticated %}
                <a href="/booking-date" class="waves-effect waves-light btn-large blue darken-4">Book Now!</a>
            {% else %}
                <p>Please login or sign-up for a free account to book our experiences.</p>
                <a class="btn blue darken-4 btn" href="{% url 'login' %}?next={{ request.path }}">Login</a>
                <a class="btn blue darken-4 btn" href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
        <div class="col s12 l6">
            <img class="responsive-img room-image" src="{{ room.room_image.url }}" alt="an image of {{ room.title }}">
        </div>
    </div>  
</div>

{% endblock content %}