{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 l6">
            <h1>{{ room.title }}</h1>
            <p>{{ room.room_description | safe }}</p>
            <a href="/booking-date" class="waves-effect waves-light btn-large blue darken-4">Book Now!</a>
        </div>
        <div class="col s12 l6">
            <img class="responsive-img room-image" src="{{ room.room_image.url }}">
        </div>
    </div>  
</div>

{% endblock content %}