{% extends "base.html" %}

{% block content %}
<section class="section container" id="mybookings-section">

    <h1>My Bookings</h1>

    <p>Below is a list of your bookings.</p>
    <p>You can amend the time of your booking using the "Amend Time" button.</p>
    <p>If you would like to cancel, please click the "Cancel Booking" button</p>

    <hr>

    {% if booking_list %}
    <table class="responsive-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Room</th>
                <th>Date</th>
                <th>Time</th>
                <th>Amend Booking Time</th>
                <th>Cancel Booking</th>
            </tr>
        </thead>

        <tbody>
            {% for booking in booking_list %}
            <tr>
                <td>{{ booking.name }}</td>
                <td>{{ booking.room_selected }}</td>
                <td>{{ booking.date_selected }}</td>
                <td>{{ booking.time_selected }}</td>
                <td><a href="/amend/{{ booking.id }}" class="waves-effect waves-light btn blue darken-4">Amend Time</a></td>
                <td><a href="/delete/{{ booking.id }}" class="waves-effect waves-light btn red darken-4">Cancel Booking</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% else %}
      <p><em>You do not currently have any bookings.</em></p>
    {% endif %}

</section>
{% endblock %}